*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;   
    
}

html, body {
    width: 100%;
    font-size: 16px;    
    background-color: var(--background-white-color);
    color: var(--text-gray-color);
}

a{
    text-decoration: none;
}


:root{
    /** Cores**/
    --header-and-footer-color: #2E948A;
    --background-gray-color:#E5E5E5;
    --background-white-color:##F7F7F7;
    --background-div:#C4C4C4;
    --text-pink-color:#FF4081;
    --text-gray-color:#555555;
    --text-green-color:#009688;
    --text-white-color:#FFFFFF;
    --text-black-color:#000000;    
    --hoover-color:#F08A60   

}
